{{> header }}

    <section class="talks">
      <ul class="talks__list">
        {{#each talks}}
          {{#if talk}}
            <li class="talk">
              <h4 class="talk__title">
                {{#if talk_url}}
                <a class="talk__name talk__name--link" href="{{talk_url}}" target="_blank" rel="noopener noreferrer">{{talk}}</a>
                {{else}}
                <span class="talk__name">{{talk}}</span>
                {{/if}}
              </h4>
              <div class="talk__infos">
                <address class="talk__location talk__location--hide">{{location}}</address>
                <span class="talk__separator talk__separator--hide">•</span>
                <time class="talk__date">{{brDate talk_date}}</time>
                <span class="talk__separator">•</span>
                <p class="talk__event">{{event}}</p>
              </div>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </section>

{{> footer }}
